@media screen and (min-width:0px) and (max-width:480px){
body{
    background-color: red;
}
}
@media screen and (min-width:481px) and (max-width:768px){
body{
    background-color: red;
}
}
@media screen and (min-width:769px) and (max-width:1279px){
body{
    background-color: red;
}
}
@media screen and (min-width:1280px){
*{
    padding: 0;
    margin: 0;
}
.body{
    background-color: red;
}
}

.logo {
    max-width: 80px;
    ;
}

.logo>img {
    width: 100%;
}

/* .carousel{
    width: 100%;
    height: 300px;
} */
.carousel img {
    width: 100%;
    height: 100vh;
}
.fa-cart-shopping{
    color: rgb(116, 114, 114);
}
.fa-cart-shopping:hover{
    color: black;
}

.card{
    box-shadow: 5px 3px 8px 3px rgb(187, 187, 187);
}
.cards{
        box-shadow: 5px 3px 8px 3px rgb(187, 187, 187);

}
.card:hover{
   box-shadow: 9px 9px 9px  rgb(136, 133, 133);  
   transition: 1s;
   transform: scale(1);
}
.cart{
    cursor: pointer;
}
.cart:active{
    color: red;
}
.btn > button{
    border-radius: 7px;
    background-color: white;
    color: white;
    border-style: none;
    font-size: 17px;
}
.btn > button:hover{
    color: rgb(230, 71, 71);;
}
.nav li{
    cursor: pointer;
}
.nav li:hover{
    color: rgb(230, 71, 71);
}
.logo > img{
    cursor: pointer;
}
.lp{
    cursor: default;
}
.logo > h1{
    font-size: 30px;
    margin: 30px;
    padding: 0%;
    cursor: pointer;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.nav a:hover{
    color:  rgb(230, 71, 71);
}
.footer{
     box-shadow: 5px 3px 8px 3px rgb(187, 187, 187);
     background-color: rgb(229, 240, 240);
}
.list li{
    list-style-type: none;
}
.list a{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.list a:hover{
     color:  rgb(230, 71, 71);
}
.develope a{
    font-size: 20px;
}
.develope a{
    text-decoration: none;
    color: black;
}
.develope a:hover{
    color:  rgb(230, 71, 71);
}
.signup{
    text-decoration: none;
    color: black;
}
.signup:hover{
    color:rgb(230, 71, 71);
}
.login{
    text-decoration: none;
    color: black;
}
.login:hover{
    color: rgb(230, 71, 71);
}

.btn:hover{
    box-shadow: 5px 3px 8px 3px rgb(116, 113, 113);
}
.marque{
    transition: 50s 10s;
}
.whatsapp{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    position: fixed;
    right: 20px;
    bottom: 10px;
    z-index: 1;
    cursor: pointer;
}
.whatsapp img{
    width: 100%;
}